body {
    font-family: Arial;
    background: papayawhip;
    text-align: center;
}

.container {
    margin-top: 50px;
}

input {
    padding: 10px;
    width: 250px;
}

button {
    padding: 10px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: white;
    margin: 10px auto;
    padding: 10px;
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.delete {
    color: red;
    cursor: pointer;
}